Minecraft_RTS/Binaries/Win64/Minecraft_RTS-Win64-Shipping.pdb filter=lfs diff=lfs merge=lfs -text
Minecraft_RTS/Saved/StagedBuilds/Android_ASTC.obb filter=lfs diff=lfs merge=lfs -text
Minecraft_RTS/Saved/StagedBuilds/Android_ASTCMinecraft_RTS/Content/Paks/Minecraft_RTS-Android_ASTC.pak filter=lfs diff=lfs merge=lfs -text
Minecraft_RTS/Saved/StagedBuilds/Windows/Minecraft_RTS/Content/Paks/Minecraft_RTS-Windows.pak filter=lfs diff=lfs merge=lfs -text
